.mtext-105 {
    font-family: Poppins-Regular;
    font-size: 24px;
    line-height: 1.5;
  }
  .mtext-110 {
    font-family: Poppins-Regular;
    font-size: 18px;
    line-height: 1.222222;
  }
  .stext-115 {
    font-family: Poppins-Regular;
    font-size: 15px;
    line-height: 1.666667;
  }

.stext-111 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.6923;
  }  


  .size-212 {
    width: calc(100% - 60px);
  }

  /*---------------------------------------------*/
.how-pos4-parent {
    position: relative;
  }
  
  .how-pos4 {
    position: absolute;
    top: calc(50% - 9px);
    left: 28px;
  }
  
  /*---------------------------------------------*/

